@{
    Layout = null;
    var xxx = (List < Computers > )ViewData["Trendyol"];
}

<html>
    <head>
        <link rel="stylesheet" href="~/Content/Css/List.css">
    </head>
    <body>
      <div class="nav">
         @xxx[0].Model
         @xxx[1].Model
         @xxx[2].Model
         @xxx[3].Model
         @xxx[4].Model
         @xxx[5].Model


      </div>
    </body>
</html>